<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form action="/create" method="post">
    <input type="text" name="filename">
    <button>Create File</button>
  </form>
  <hr>
  <ul>
    <% files.forEach(function(file){ %>
      <li>
        <a href="/<%= file%>">
          <%= file%>

        </a>

        <a href="/delete/<%= file%>">

          ❌
        </a>
      </li>
      <%})%>
  </ul>

  <hr>

  <% if(filedata){ %>
    <form action="/update/<%= filename%>" method="post">
      <textarea cols="30" rows="10" name="filedata"> <%=filedata%></textarea>
      <button>Update</button>
    </form>
    <% } else{ %>
      <h1>No file Selected or Data Not Present.</h1>
      <% } %>

</body>

</html>